@{
    ViewBag.Title = "L'ostéo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div role="main" id="mainContent">
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">
         
            <div class="span3 sectionImg">
            <div class="circle noTransition">            
                <div class="centeringWrapper">
                    <img src="" alt=""style="width:180px; height: 180px" />
                </div>
            </div>
            </div> <!-- Picture -->
          
            <div class="span9 content"> 
            <h3 id="1">L'ostéo</h3>   
                <p>J'ai fait le choix d'unir dans ma pratique professionnelle l'ostéopathie et la yogathérapie. Cela m'est venu naturellement tant j'ai constaté que l'un et l'autre potentialisaient leurs effets. Ma façon de travailler est douce, mes techniques requierent la participation active du patient et  aucune n'est forcée ou imposée. Ainsi, le sujet est acteur du soin et non son objet.</p>
                <p>Voici comment je travaille:</p>
                <p>Dans un premier temps   je vous reçois et nous essayons d'en apprendre un peu plus sur vous et votre motif de consultation: c'est l' anamnèse.</p>
                <p>Dans un second temps, je vous examine de manière globale pour localiser les pertes de mobilité des tissus de votre corps et orienter le cas échéant vers un médecin généaliste ou les urgences (exemple, en cas de suspicion de fracture ou de problème cardiaque aigu).</p>
                <p>Puis viens le temps du traitement ostéopathique et yogathérapique qui rend au corps sa mobilité et lui permet d'expimer son potentiel d'auto guerison.</p>
                <p>En fin de séance, nous abordons ensemble les habitudes de vie que vous pourriez modifier pour limiter l'apparition des troubles. </p>
                <p>Je propose pour les personnes désirant prendre leur santé en main., un programme personnalisé de yogathérapie associant postures de yoga (asanas) et exercices de respitation (pranayama).</p>
                <p>En dehors de ma pratique de cabinet, j'interviens depuis 2010 auprès de l'équipe de rugbymen cadets de l'avirons bayonnais (champions de France 2012). Je m'occupe de l'équipe championne d'Europe 2012 de roller derby toulousaine des "quad guards" : <a href="https://www.facebook.com/QuadGuards?fref=ts">Facebook des Quad Guards</a></p>
            </div>  <!-- Content -->          
        </div> <!-- end row-fluid -->
    </section> 
    
</div>