@{
    ViewBag.Title = "Motifs méconnus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Motifs méconnus : migraine, stress, ballonnements, diarrhée, sexe, asthme, vertiges, etc.";
}
<div role="main" id="mainContent" style="width: 100%">
    <h1>Motifs méconnus</h1>
    <img src="@Url.Content("~/Theme/Images/motifsmeconnus.jpg")" />
</div>