@{
    ViewBag.Title = "Ostéopathie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" id="mainContent"> <!-- Main Content -->  
    <section class="pageSection" style="text-align: justify">
    <div class="row-fluid">
         
        <div class="span3 sectionImg">
        <div class="circle noTransition">            
            <div class="centeringWrapper">
                <img src="@Url.Content("~/Theme/Images/still.jpg")" alt="andrew taylor still"style="width:180px; height: 180px" />
            </div>
        </div>
        </div> <!-- Picture -->
          
        <div class="span6 content"> 
        <h3 id="1">L'ostéopathie</h3>   
        L'ostéopathie est crée par Andrew Taylor Still (médecin et chirurgien américain de la fin du XVIII siècle). Son principe est simple: trouver les causes des déséquilibres du corps à l'origine des troubles dont le patient souffre et les traiter . Cela permettra au corps de retrouver plus facilement un état de santé.<br />
        C'est une thérapie naturelle et holistique qui n'utilise aucune médication . Elle s'appuie sur un examen clinique et palpatoire . Le traitement de l'ostéopathe est manuel et requiert parfois la participation active du patient.<br />
        Elle s'adresse à  tous les individus, quelque soit leur âge et leur condition physique.           
        </div>  <!-- Content -->          
    </div> <!-- end row-fluid -->
    </section>
      
</div> <!-- end mainContent -->