@{
    ViewBag.Title = "Ostéopathie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" id="mainContent"> <!-- Main Content -->  
    <section class="pageSection" style="text-align: justify">
    <div class="row-fluid">
         
        <div class="span3 sectionImg">
        <div class="circle noTransition">            
            <div class="centeringWrapper">
                <img src="@Url.Content("~/Theme/Images/still.jpg")" alt="andrew taylor still"style="width:180px; height: 180px" />
            </div>
        </div>
        </div> <!-- Picture -->
          
        <div class="span6 content"> 
            <h3 id="1">L'ostéopathie</h3>   
            <p>L'ostéopathie est crée par Andrew Taylor Still (médecin et chirurgien américain de la fin du XVIII siècle). </p>
            <p>Selon l'Organisation Mondiale de la Santé (http://www.who.int/fr/) dans un document de 2010 , voici son principe:</p>
            <p>« L’ostéopathie (également appelée médecine ostéopathique) se fonde sur le contact manuel pour tout diagnostic et tout traitement . Elle respecte la relation qui
                existe entre le corps, la pensée et l’esprit et l’esprit sains et malades. Elle accorde une importance considérable à l’intégrité structurelle et fonctionnelle du corps et à la tendance intrinsèque
                du corps à l’auto-guérison. Les praticiens ostéopathes utilisent un large éventail de techniques thérapeutiques manuelles pour améliorer la fonction physiologique et/ou réguler l’homéostasie altérée par un
                dysfonctionnement somatique (structure corporelle), c'est à dire une fonction entravée ou altérée des éléments associés du système somatique, des structures squelettiques, arthrodiales et
                myo-fasciales et des éléments associés vasculaires, lymphatiques et neuraux . »
            </p>
            <p>Elle s'adresse à  tous les individus, quelque soit leur âge et leur condition physique.</p>
        </div>  <!-- Content -->          
    </div> <!-- end row-fluid -->
    </section>
      
</div> <!-- end mainContent -->