@{
    ViewBag.Title = "Partenaires    ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div role="main" id="mainContent">
    <h3 id="1">Partenaires</h3>    
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">
         
            <div class="span3 sectionImg">
                <div class="circle noTransition">            
                    <div class="centeringWrapper">
                        <h2 class="centeringWrapper">Ombak Yoga</h2> <!-- Section title -->
                    </div>
                </div>
            </div> <!-- Picture -->
          
            <div class="span9 content"> 
                <h3 id="1"><a href="http://ombakyoga.blogspot.fr/">Ombak Yoga</a></h3>   
                <p>Cours d'Ashtanga Yoga animés par Boris Willbois. Je recommande vivement ce professeur qui vous permettra de progresser sur la voie du yoga sans danger.</p>
                <p> 4 chemin de Jorlis, à anglet , tel : 0616495714 </p>
            </div>  <!-- Content -->          
        </div> <!-- end row-fluid -->
    </section> 
</div>