@{
    ViewBag.Title = "Consultation bébé";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "L'ostéopathie est tout à fait adapté aux bébés et nourissons. Le cabinet s'occupe de vos enfants avec précautions.";
}
<div role="main" id="mainContent" style="width: 100%">
    <h1>Quand consulter : Pour les bébés et nourrissons</h1>
    <img src="@Url.Content("~/Theme/Images/consulterbebe.jpg")" />
</div>