@{
    ViewBag.Title = "Consultation bébé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div role="main" id="mainContent" style="width: 100%">
    <img src="@Url.Content("~/Theme/Images/consulterbebe.jpg")" />
</div>