@{
    ViewBag.Title = "Certifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Mes certifications - Mes diplômes";
}
<div role="main" id="mainContent">
    <h1>Certifications</h1>
    <h4>
        
        <p>Ostéopathe diplômé du <a href="http://www.cos-osteopathie.fr/">Collège Ostéopathique Sutherland Aquitaine 2009</a></p>
        <p>Diplôme d'état soins infirmiers C.H.U Toulouse 2002</p>
    </h4>
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">
         
            <div class="span3 sectionImg">
                <div class="noTransition">            
                    <div class="centeringWrapper">
                        <h2 class="centeringWrapper">
                            <img src="@Url.Content("~/Theme/Images/ostheopathe_de_france.jpg")" alt="" style="width: 100px; height: 120px" />
                            <img src="@Url.Content("~/Theme/Images/logo_label_euro_stdo.jpg")" alt="" style="width: 100px; height: 120px" />
                        </h2> 

                    </div>
                </div>
            </div> <!-- Picture -->
            
            <div class="span9 content">
                <h3 id="1"><a href="http://www.osteofrance.com/">Membre de l'union fédérale des ostéopathe de France</a></h3>             
            </div> <!-- Content -->
        </div> <!-- end row-fluid -->
    </section> 
</div>