@{
    ViewBag.Title = "Consultation grossesse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "L'ostéopathie est tout à fait adapté durant la grossesse. Le cabinet s'occupe des femmes enceintes afin de vivre sa grossesse en toute sérénité.";
}
<div role="main" id="mainContent" style="width: 100%">
    <h1>Quand consulter : Femmes enceintes</h1>
    <img src="@Url.Content("~/Theme/Images/consultergrossesse.jpg")" />
</div>