@{
    ViewBag.Title = "Motifs courants";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Motifs courant : Mal de dos. Douleurs musculaires. Lumbago. Douleurs aux chevilles, genoux, pieds, hanches. Entorse, etc.";
}
<div role="main" id="mainContent" style="width: 100%">
    <h1>Motifs courants</h1>
    <img src="@Url.Content("~/Theme/Images/motifscourants.jpg")" />
</div>