@{
    ViewBag.Title = "Yoga thérapie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div role="main" id="mainContent">
    <section class="pageSection" style="text-align: justify">
    <div class="row-fluid">
         
        <div class="span3 sectionImg">
        <div class="circle noTransition">            
            <div class="centeringWrapper">
                <img src="" alt="" style="width:180px; height: 180px" />
            </div>
        </div>
        </div> <!-- Picture -->
          
        <div class="span9 content"> 
        <h3 id="1">Mon parcours</h3>   
            <p>Je suis un ostéopathe installé depuis 2010 à Bayonne. J'obtiens mon diplôme en 2009 suite à 5 ans de formation en alternance au collège ostéopathique Sutherland Aquitaine de Bordeaux. Issu d'un milieu modeste , je décide en 1999 de me lancer dans des études paramédicales d'infirmier afin d'avoir accès à la formation d'ostéopathe tout en gagnant ma vie. 
            </p>En 2003 je commence à travailler en bloc opératoire à l'hôpital Rangueil puis dans les cliniques Toulousaines. En 2008 je viens vivre à Bayonne où je pratique les soins à domicile.
            <p>Depuis 2012, avec mes associés, nous ouvrons le Pôle Santé Breuer ou j'exerce l'ostéopathie de manière exclusive.</p>
            <p>Je découvre le yoga pendant un voyage humanitaire en Inde en 2003. Depuis il ne m'a plus jamais quitté et je continue à l'inclure dans mon mode de vie et mon activité de thérapeute.</p>
        </div>  <!-- Content -->          
    </div> <!-- end row-fluid -->
    </section>
</div>