@{
    ViewBag.Title = "Associations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Le cabinet d'ostéopathie a plusieurs associations partenaires";
}
<div role="main" id="mainContent">
    <h1>Associations</h1>
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">
            <div class="span3 sectionImg">
                <div class="noTransition">
                    <div class="centeringWrapper">
                        <img src="@Url.Content("~/Theme/Images/logodefAsso.png")" alt="" style="width: 160px; height: 160px" />
                    </div>
                </div>
            </div> <!-- Picture -->
            <div class="span9 content">
                <h3 id="1"><a href="http://association-plagiocephalie-info-et-soutien.fr/">Association Plagiocéphalie</a></h3>
                <p>Ce site associatif est une mine de ressources pour les parents dont les enfants souffrent de plagiocéphalie</p>
            </div> <!-- Content -->
        </div> <!-- end row-fluid -->

    </section>
</div>