@{
    ViewBag.Title = "Liens utiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Le cabinet d'ostéopathie a plusieurs partenaires comprenant Ombak Yoga (Ashtanga yoga)";
}
<div role="main" id="mainContent">
    <h1>Liens utiles</h1>    
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">
         
            <div class="span3 sectionImg">
                <div class="noTransition">            
                    <div class="centeringWrapper">
                        <img src="@Url.Content("~/Theme/Images/ombak.PNG")" alt="" style="width: 100px; height: 100px"/>
                        <img src="@Url.Content("~/Theme/Images/maria.png")" alt="" style="width:100px; height: 100px" />
                    </div>
                </div>
            </div> <!-- Picture -->
            <div class="span9 content"> 
                <h3 id="1"><a href="http://ombakyoga.net/">Ombak Yoga</a> / <a href="http://marjariyoga64.blogspot.fr/2012/09/bienvenue.html">Marjari Yoga</a></h3>   
                <p><strong>Cours d'Ashtanga, Vinyasa et Hatha yoga</strong> animés par Boris Willbois et Hélène Lejal.</p>
                <p>4 chemin de Jorlis, à Anglet</p>
            </div> <!-- Content -->
        </div> <!-- end row-fluid -->
        <div class="row-fluid">
            <div class="span3 sectionImg">
                <div class="noTransition">
                    <div class="centeringWrapper">
                        <img src="@Url.Content("~/Theme/Images/yogaland.png")" alt="" style="width:100px; height: 100px" />
                    </div>
                </div>
            </div> <!-- Picture -->
            <div class="span9 content">
                <h3 id="1"><a href="http://www.yogaland.org/">YogaLand</a></h3>
                <p><strong>Cours de Vinyasa et Hatha yoga</strong> animés par Loïc Morice.</p>
                <p>1069, avenue de la plage 40440 Ondres</p>
            </div> <!-- Content -->
        </div> <!-- end row-fluid -->
        <div class="row-fluid">
            <div class="span3 sectionImg">
                <div class="noTransition">
                    <div class="centeringWrapper">
                        <img src="@Url.Content("~/Theme/Images/eazyoga-logo.jpg")" alt="" style="width:100px; height:60px" />
                    </div>
                </div>
            </div> <!-- Picture -->
            <div class="span9 content">
                <h3 id="1"><a href="http://eazyoga.com/">Easyoga</a></h3>
                <p><strong>Cours de Hatha et Flow yoga</strong> animés par Colette Marchelli.</p>
                <p>Aossa Club: avenue du penon, les estagnots 40510 SEIGNOSSE</p>
            </div> <!-- Content -->
        </div> <!-- end row-fluid -->
       
    </section>
</div>