@{
    ViewBag.Title = "Questions Fréquentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Meta = "Ostéo Kiné Chirurgie";
}
<div role="main" id="mainContent">
    <section class="pageSection" style="text-align: justify">
        <div class="row-fluid">

            <div class="span12 content">
                <h1 id="1">Questions fréquentes</h1>
                <span><b>Faut il revenir vous voir souvent?</b></span><br />
                <span>Cela dépend de chaque cas. Il vaut mieux prévenir que guérir, ainsi suite à un traumatisme ou dès que vous sentez les prémices d'un blocage, il vaut mieux consulter avant d'être complètement bloqué. Le traitement et la récupération seront plus rapides.</td></span><br />
                <br />
                <span><b>Faut il revenir vous voir souvent? (enfants et adolescents)</b></span><br />
                <span>Dans le cas des enfants je vous conseille de revenir une a deux fois par an. Pour les sportifs, faites un bilan à la trève hivernale et en été pour permettre au corps de bien se régénérer entre deux demi saisons. Vos enfants sont en pleine croissance et il vaut mieux éviter que des blocages s'installent durablement pour favoriser une croissance harmonieuse et éviter les troubles posturaux.</span><br />
                <br />
                <span><b>Est ce que vous faites "craquer"?</b></span><br />
                <span>Certaines techniques articulaires entrainent un bruit lors de leur réalisation. Je connais ces techniques que j'utilise avec tact et mesure. En aucun cas je ne vous "ferai craquer" l'ensemble du corps pendant une séance. J'utilise principalement une approche tissulaire associée aux postures et exercices de yoga. Cette façon de travailler est douce et nécessite votre participation (postures, respiration, concentration).</span><br />
                <br/>

                <span><b>Vos séances sont elles remboursées par la sécurité sociale? </b></span><br/>
                <span>Non c'est impossible, l'ostéopathie n'est pas conventionnée avec les organismes de sécurité sociale.</span><br/>
                <br/>
                <span><b>Et pourtant suite à une consultation chez un kiné/ostéo, médecin/ostéo une de mes amies a été reboursée par la sécurité sociale pour des séances d'ostéopathie.</b></span><br/>
                <span>Votre amie a consulté un praticien de santé en possession du titre d'ostéopathe. Ce dernièr a facturé des actes de son activité conventionnée avec la sécurité sociale pour donner à votre amie la possibilité d'un remboursement par la sécurité sociale d'actes d'ostéopathie. C'est illégal et nocif car cela contribue à agraver la dette de la sécurité sociale, c'est à  dire la notre.</span><br/>
                <br/>
                <span><b>Vos séances sont elles remboursées par ma mutuelle?</b></span><br/>
                <span>En fonction de votre contrat de mutuelle, votre consultation peut être remboursée. Adressez vous à votre organisme de mutuelle santé pour connaitre le contenu exact de votre contrat.</span><br/>
                <br/>
                <span><b>Est il normal d'avoir mal après une séance?</b></span><br/>
                <span>Les douleurs suite aux séances s'estompent, soit immédiatement, soit quelques jours après. Il est possible que des douleurs de dos vous gènent quelques jours après des manipulations viscérales, puis disparaissent quand le corps s'est rééquilibré.</span><br/>
                <br/>
                
                <span><b>Est ce que vous donnez des cours de yoga?</b></span><br/>
                <span>J'utilise le yoga et l'ostéopathie comme moyen de traitement individualisé pour chaque patient. Je travaille aussi en bonne intelligence avec des professeurs de yoga. Je ne donne pas de cours et vous orienterai le cas échéant vers un professeur compétent.</span><br/>
                <br/>
                
            </div>  <!-- Content -->
        </div> <!-- end row-fluid -->
    </section>
</div>
