<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <!--PC FIXE-->
    <property name="connection.connection_string">Data Source=yopex-pc\mssql2008;Initial Catalog=OsteoYoga;Integrated Security=True</property>  

    <!--PC PORTABLE-->
    <!--<property name="connection.connection_string">Data Source=(local)\SQLSERVER;Initial Catalog=OsteoYoga;Integrated Security=True</property>-->
    
    <!-- PRODUCTION -->
    <!--<property name="connection.connection_string">Data Source=SRV-SQL002\osteoyogprd;Initial Catalog=osteoyogprd;Integrated Security=False;User ID=osteoyogprd;Password=JizgEUcX</property>-->
    
    
    <property name="show_sql">true</property>
    <mapping assembly="OsteoYoga.Domain"/>
  </session-factory>
</hibernate-configuration>