/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #5c87b2;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
    font-size: 1.2em;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.resultMessage {
    color: red;
    font-weight: bold;
    text-align: center;
}

.box {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 50%;
	margin-left: -22px;
	margin-top: -22px;
}

.loading:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	margin-left: -10px;
	border-width: 1px 1px;
	border-style: solid;
	border-color: rgba(146,146,148,0.46) rgba(0,0,0,0.9);
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: spin 3.45s infinite;
		-o-animation: spin 3.45s infinite;
		-ms-animation: spin 3.45s infinite;
		-webkit-animation: spin 3.45s infinite;
		-moz-animation: spin 3.45s infinite;
}
.loading:after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -2px;
	background-color: rgb(0,0,0);
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
		-moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}






@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(1080deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(360deg);
	}
	100% {
		-o-transform: rotate(1080deg);
	}
}

@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(360deg);
	}
	100% {
		-ms-transform: rotate(1080deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(360deg);
	}
	100% {
		-moz-transform: rotate(1080deg);
	}
}

@keyframes pulse {
	0% {
		background-color: rgba(0,0,0,0.48);
	}
	13% {
		background-color: rgba(168,168,168,0.2);
	}
	15% {
		background-color: rgba(194,194,194,0.9);
	}
	28% {
		background-color: rgba(82,82,82,0.9);
	}
	30% {
		background-color: rgba(148,148,148,0.2);
	}
	43% {
		background-color: rgba(158,158,158,0.22);
	}
	45% {
		background-color: rgba(122,122,122,0.9);
	}
	70% {
		background-color: rgba(255,255,255,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(133,130,133,0.9);
	}
}

@-o-keyframes pulse {
	0% {
		background-color: rgba(0,0,0,0.48);
	}
	13% {
		background-color: rgba(168,168,168,0.2);
	}
	15% {
		background-color: rgba(194,194,194,0.9);
	}
	28% {
		background-color: rgba(82,82,82,0.9);
	}
	30% {
		background-color: rgba(148,148,148,0.2);
	}
	43% {
		background-color: rgba(158,158,158,0.22);
	}
	45% {
		background-color: rgba(122,122,122,0.9);
	}
	70% {
		background-color: rgba(255,255,255,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(133,130,133,0.9);
	}
}

@-ms-keyframes pulse {
	0% {
		background-color: rgba(0,0,0,0.48);
	}
	13% {
		background-color: rgba(168,168,168,0.2);
	}
	15% {
		background-color: rgba(194,194,194,0.9);
	}
	28% {
		background-color: rgba(82,82,82,0.9);
	}
	30% {
		background-color: rgba(148,148,148,0.2);
	}
	43% {
		background-color: rgba(158,158,158,0.22);
	}
	45% {
		background-color: rgba(122,122,122,0.9);
	}
	70% {
		background-color: rgba(255,255,255,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(133,130,133,0.9);
	}
}

@-webkit-keyframes pulse {
	0% {
		background-color: rgba(0,0,0,0.48);
	}
	13% {
		background-color: rgba(168,168,168,0.2);
	}
	15% {
		background-color: rgba(194,194,194,0.9);
	}
	28% {
		background-color: rgba(82,82,82,0.9);
	}
	30% {
		background-color: rgba(148,148,148,0.2);
	}
	43% {
		background-color: rgba(158,158,158,0.22);
	}
	45% {
		background-color: rgba(122,122,122,0.9);
	}
	70% {
		background-color: rgba(255,255,255,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(133,130,133,0.9);
	}
}

@-moz-keyframes pulse {
	0% {
		background-color: rgba(0,0,0,0.48);
	}
	13% {
		background-color: rgba(168,168,168,0.2);
	}
	15% {
		background-color: rgba(194,194,194,0.9);
	}
	28% {
		background-color: rgba(82,82,82,0.9);
	}
	30% {
		background-color: rgba(148,148,148,0.2);
	}
	43% {
		background-color: rgba(158,158,158,0.22);
	}
	45% {
		background-color: rgba(122,122,122,0.9);
	}
	70% {
		background-color: rgba(255,255,255,0.9);
	}
	74% {
		background-color: rgba(221,187,0,0.2);
	}
	100% {
		background-color: rgba(133,130,133,0.9);
	}
}

@keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(0,0,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(0,0,0), 0 0 0 1px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 2px #FFF, 0 0 1px 2px rgba(221, 187, 0, 0.8);
	}
}

@-o-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(0,0,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(0,0,0), 0 0 0 1px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 2px #FFF, 0 0 1px 2px rgba(221, 187, 0, 0.8);
	}
}

@-ms-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(0,0,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(0,0,0), 0 0 0 1px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 2px #FFF, 0 0 1px 2px rgba(221, 187, 0, 0.8);
	}
}

@-webkit-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(0,0,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(0,0,0), 0 0 0 1px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 2px #FFF, 0 0 1px 2px rgba(221, 187, 0, 0.8);
	}
}

@-moz-keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255,255,255), 0 0 0 1px rgba(0,0,0,0.8);
	}
	40% {
		box-shadow: 0 0 0 1px rgb(0,0,0), 0 0 0 1px rgba(221, 187, 0, 0.8);
	}
	80% {
		box-shadow: 0 0 0 2px #FFF, 0 0 1px 2px rgba(221, 187, 0, 0.8);
	}
}
