/*
  blue: 	0088cc 
*/

body {
  background-color: #fff;
  color: #231F20;
}
#top {
  background: #0088cc;
}
#topLink, #mainFooter {  
  background: #fff;
}
a, .slideCaption a:hover, 
.socialMedia li a:hover, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, 
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.projectMeta {
  color: #0088cc;
}
a:hover, .subTitle, #mainFooter a:hover {
  color: #464646;
}
blockquote {
  border-color: #231F20;
}
th {
  color: #fff;
  background-color: #231F20;
}
.brand {
  color: #0088cc;
}
.socialMedia li a, 
.navbar .nav > li > a  {
  color: #231F20;
}
.dropdown-submenu > .dropdown-menu {
  background-color: #231F20;
  border-color: #231F20;
}
.dropdown-menu a {
  border-bottom: 1px solid #231F20;
  color: #fff;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
  border-bottom: 1px solid #231F20;
  color: #0088cc;
} 
#mainFooter a, 
.slideCaption h2, .slideCaption a {
  color: #0088cc;
}
.circle {
  background-color: #231F20;
  border-color: #231F20;
  color: #FFFFFF;
}
.circleSlider,
.rectSlider,
.flex-direction-nav a {
  background-color: #231F20;
}
.flex-direction-nav a:hover {
  background-color: #0088cc;
}
.flex-control-paging li a.flex-active { 
  background: #0088cc; 
}
/* Tabs */
.nav-tabs li {  
  border-bottom-color: #0088cc;
}
.nav-tabs li a {
  color: #231F20;
}
.nav-tabs > .active > a,
.nav.nav-tabs > .active > a:hover {
  background-color: #0088cc;
  color: #fff;
}
.nav-tabs li a {
  color: #231F20;
}
.nav.nav-tabs > li > a:hover {
  background-color: #231F20;
  color: #fff;
}
.tab-content {
  border-top-color: #0088cc;
}
/* Accordion */
.accordion-heading {
  background-color: #0088cc;
}
.accordion-heading:hover {
  background-color: #231F20;
}
/* Buttons */
.btn-custom {
  background: #231F20;
  color: #fff;
}
.btn-custom:hover {
  background: #0088cc;
  color: #fff;
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0088cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0279b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0279b4));
  background-image: -webkit-linear-gradient(top, #0088cc, #0279b4);
  background-image: -o-linear-gradient(top, #0088cc, #0279b4);
  background-image: linear-gradient(to bottom, #0088cc, #0279b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0279b4', GradientType=0);
  border-color: #0279b4 #0279b4 #a21f24;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0279b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0279b4;
  *background-color: #0279b4;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
/* Work */
.workFilter a {
  color: #231F20;
}
.workFilter a:hover, .workFilter a.selected {
  color: #0088cc;
}
/* Form */
#contactForm #submit:hover {
  background: #0088cc;
}
.error {
  color: #0088cc;
  border-color: #0088cc;
}
#contactForm #submit {
  color: #fff;
  background: #231F20;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #231F20;
}
.pageFeature {
  background-color: #231F20;  
}